/* some style */
/* TODO Need to make this SASS */
body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body.hide-scroll {
  overflow: hidden;
  position: fixed;
}

body.hide-scroll .Main {
  /* opacity: 0; WE need to move this to the warpper on the home page content itself not hte overall wrap */
}

/* COLORS
Blue: #36a0cd */

.Page {
  position: fixed;
  top: calc(-105% - 100px);
  left: 0;
  transition: all .25s;
  background: white; /* TODO Work this into a theme config option - would be fun */
  height: 100%;
  width: 100%;
  overflow: scroll;
  padding-bottom: 100px; /* needed for ads to not cover content TODO work this into a config option*/
  opacity: 0;
}

.Page.active {
  top: 0;
  opacity: 1;
}


/* HOME PAGE STYLES */
.addTaskButton {
  background: #36a0cd;
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 60px;
  height: 60px;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 0px;
  font-size: 2rem;
  font-weight: 600;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}