/* some style */
@font-face {
  font-family: Blinker;
	src: url('Blinker-Regular.ttf');
}

@font-face {
  font-family: BlinkerBold;
	src: url('Blinker-SemiBold.ttf');
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #424341;
  font-family: Blinker;
}

h1,h2,h3,h4,h5{
  font-family: BlinkerBold;
}

body.hide-scroll {
  overflow: hidden;
  position: fixed;
}

body.hide-scroll .Main {
  /* opacity: 0; WE need to move this to the warpper on the home page content itself not hte overall wrap */
}

button {
  font-size: 1rem;
  text-transform: uppercase;
  background: none;
  padding: 8px 24px;
  border-radius: 16px;
  transition: all .25s;
}

button.primary {
  background: #36a0cd;
  border: 1px solid #36a0cd;
  color: white;
}

button.primary:active{
  background: #3191b9;
  border: 1px solid #3191b9;
}

button.success {
  background: transparent;
  border: 1px solid #2eb831;
  color: #858585;
}

button.success:active{
  background: #2eb831;
  color: white;
  border: 1px solid #2aa82c;
}

button.warning {
  background: transparent;
  border: 1px solid #ea2c2c;
  color: #858585;
  margin-top: 16px !important; /* We only use this button once so just put the margin on it */
}

button.warning:active{
  background: #ea2c2c;
  color: white;
  border: 1px solid #ea2c2c;
}

i {
  color: #555;
  font-size: 1.5rem;
  transition: all .25s;
  padding: 10px;
}

i:hover {
  color: #36a0cd;
}

/* COLORS
Blue: #36a0cd */

.Page {
  position: fixed;
  top: calc(-105% - 100px);
  left: 0;
  transition: all .25s;
  background: white; /* TODO Work this into a theme config option - would be fun */
  height: 100%;
  width: 100%;
  overflow: scroll;
  padding-bottom: 100px; /* needed for ads to not cover content TODO work this into a config option*/
  opacity: 0;
}

.Page.active {
  top: 0;
  opacity: 1;
}


/* HOME PAGE STYLES */

.Home.header {
  display: flex;
  justify-content: space-between;
}

.Home .HomeTaskWrapper {
  padding: 0 10px;
}

.TasklabelHolder {
  justify-content: flex-end;
  display: flex;
}

.TaskLabel {
  border-radius: 16px;
  color: white;
  border: none;
  font-size: .75rem;
  padding: 4px 12px;
  text-align: center;
}

.addTaskButton {
  background: #36a0cd;
  position: fixed;
  right: 25px;
  bottom: 75px;
  width: 60px;
  height: 60px;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 0px;
  font-size: 2rem;
  font-weight: 600;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.addTaskButton p {
  margin: 0;
  line-height: 60px;
}

.HomeTask {
  width: 90%;
  margin: 20px auto;
  border-radius: 5px;
  padding: 2px 10px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
}

.HomeTask h2 {
  margin: 0;
}

.Home .noTasksText {
  text-align: center;
  padding-top: 50px;
}

/* This takes care of adding padding to display our ads */
.Home.add-padding .HomeTask:last-child {
  margin-bottom: 100px;
}


/* TASK PAGE STYLES */

.Task.Page {
  padding: 10px;
  padding-bottom: 100px; /*  For adds */
  box-sizing: border-box;
}

.completeButtonWrapper {
  margin-top: 50px;
}

.completeButtonWrapper button {
  margin: 0 auto;
  display: block;
}



/* NOTIFICATION COMPONENT STYLES */
#Notification {
  position: fixed;
  top: -500px;
  left: 0;
  z-index: 20;
  background: white;
  height: 50px;
  width: 100%;
  color: white;
  text-align: center;
  border: 1px solid white;
  transition: all .5s;
  text-transform: uppercase;
  font-weight: 600;
}

#Notification.active {
  top: 0px;
}


/* INPUT STYLES */

.inputWrapper {
  margin: 24px auto;
  width: 90%;
  max-width: 260px;
}

.inputWrapper h4 {
  margin-bottom: 8px;
}

input, textarea {
  border: none;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #36a0cd;
}

input {
  min-height: 50px;
}

textarea {
  min-height: 75px;
}


/* CALENDAR STUFF */

.Calendar.calendar {
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  background: #36a0cd;
  color: white;
}

.Calendar.calendar .dateItem {
  position: relative;
}

.Calendar .Calendar-Header.inner i {
  font-size: 2.5rem;
  color: white;
}

.Calendar .Calendar-Header.inner i:hover {
  color: #555;
}

.Calendar-widget {
  background: #3ebaef
}

.Calendar.calendar .dateItem.active-date:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: calc(50% - 4px);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.Calendar td {
  padding: 5px 0;
  text-align: center;
  color: white;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}

.Calendar td.active {
  /* border: 1px solid #36a0cd; */
  position: relative;
  /* color: white; */
}

.Calendar td.active:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: calc(50% - 4px);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.Calendar td.selected {
  border: 1px solid white;
  border-radius: 70%;
}

.Calendar th {
  color: white;
  padding-top: 10px;
}

.Calendar .Calendar-Header {
  width: 100%;
  background: #36a0cd;
  color: white;
  font-size: 1.1rem;
}

.Calendar .Calendar-Header.inner {
  display: flex;
  width: 75%;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 240px;
}

.Calendar .Calendar-wrapper {
  width: 85%;
  margin: 0 auto;
  max-width: 320px;
}

.Calendar .todaysTask {
  padding: 0 10px;;
}

.Calendar.add-padding .HomeTask:last-child {
  margin-bottom: 100px;
}


/* LABEL STYLES */

.Settings h2 {
  padding: 0 10px;
}

.Settings.completedTasksWrapper {
  padding-bottom: 100px;
}

.Label {
  display: flex;
  margin: 25px 0;
}

.Label-left {
  width: 75%;
  display: flex;
}

.Label-left input {
  width: calc(100% - 50px;)
}

.Label-right {
  width: 25%;
}

.Label-right button {
  width: 100%;
  border-radius: 0;
  height: 50px;
  font-size: .75rem;
  background: #3ebaef;
}

.Label-color {
  width: 50px;
  height: 50px;
}

.labelDropdownContainer {
  display: none;
  background: white;
  border: 1px solid #36a0cd;
  position: relative;
}

.labelDropdownContainer.true {
  display: block;
}

.closeLabelDropDownContainer {
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 0;
  font-size: 1.5rem;
}

.labelDropdown.label button {
  color: white;
  border: none;
}

.LabelSelectorInputHolder {
  position: relative;
}

.LabelSelectorInputHolderInner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.removeLabelButton {
  color: white;
  border: none;
  font-size: .75rem;
  padding: 4px 12px;
}


.CompletedTask {
  padding: 0px 15px;
}